/* Site Title and icons on the top */

body{
    margin: 0;
}

.container{
    position: relative;
    top: 0;
    width: 100%;
    height: 100px; 
    display: flex;
    align-items: center;
}

.site_title{
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bolder;
}

.icons{
    margin-top: 12px;
    margin-left: 1200px;
}

.figure{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #C4B9D8;
    z-index: -1;
    overflow: hidden;
}

.figure::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: rgb(46, 20, 47); 
    z-index: 1; 
}

a{
    text-decoration: inherit;
    color:rgb(46, 20, 47);
}

/* Registration and Sign in */

.container1{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

.container2{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
}

.container3{
    text-align: center;
    position: relative;
    width: 200px; 
    margin: 0 auto; 
}

.register_font{
    font-size: 30px;
    font-weight: 900;
}

.signin_font{
    font-size: 30px;
    font-weight: 900;
}

.email_input{
    margin-top: 40px;
}

.username_input{
    margin-top: 10px;
}

.password_input{
    margin-top: 10px;
}

.register_button{
    margin-top: 40px;
}

.signin_button{
    margin-top: 40px;
}

.container_signin{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 18px;
}

button{
    background-color: #C4B9D8;
    border: none;
    width: 330px;
    height: 60px;
    font-size: 24px;
    border-radius: 12px;
}

input[type="text"]{
    background-color: rgb(235, 235, 235);
    border: none;
    height: 60px;
    width: 300px;
    border-radius: 12px;
    font-size: 18px;
    padding: 8px 15px;
}

